<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2 custom-text">Edit Movie details</h1>

       <div class="btn-group">
          <!-- goBack() methos to back to previous component -->
          <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">Go Back</button>
       </div>
    </div>

    <!-- Game's Edit Form -->
    <form [formGroup]="editForm" fxLayout="column" novalidate>

      <article fxLayout="row" fxLayoutGap="15px" fxFlex>
        <mat-form-field appearance="outline" class="global-margin">
          <mat-label>Title of movie</mat-label>
          <input matInput type="text" formControlName="title" id="titleMovie" placeholder="Ex : Avatar" required>
          <!-- Showing errors using getter method -->
          <mat-error *ngIf="title.touched && title.invalid" class="error"><sup>*</sup>Please enter atleast a title of movie<br/></mat-error>
          <mat-error *ngIf="title.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Language</mat-label>
          <input matInput type="text" formControlName="language" id="languageMovie" required>
          <!-- Showing errors using getter method -->
          <mat-error *ngIf="language.touched && language.invalid" class="error"><sup>*</sup>Please type the language of the movie</mat-error>
        </mat-form-field>
      </article>

      <article fxLayout="row" fxLayoutGap="15px" fxFlex>
        <mat-form-field class="producer-field global-margin" appearance="outline">
          <mat-label>Producer</mat-label>
          <input matInput type="text" formControlName="producer" id="producerMovie" required>
          <!-- Showing errors using getter method -->
          <mat-error *ngIf="producer.touched && producer.invalid" class="error"><sup>*</sup>Please provide the producer</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primary" class="date-field">
          <mat-label>Release Date</mat-label>
          <input matInput type="date" id="releaseDate">
        </mat-form-field>
      </article>

      <mat-form-field appearance="outline" class="global-margin">
        <mat-label>Description</mat-label>
        <textarea matInput id="description"></textarea>
      </mat-form-field>

      <div class="form-group text-right">
        <button type="submit" class="btn btn-success btn-block" [disabled]="!editForm.valid" (click)="edit()">
          Update Movie
        </button>
      </div>
    </form>
    <!-- Movie's Edit Form ends-->

<app-movie-list></app-movie-list>
