<p>screenings-chart works!</p>
<section>
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [title]="chartOptions.title"
    [theme]="chartOptions.theme"
    [markers]="chartOptions.markers"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [yaxis]="chartOptions.yaxis"
    [legend]="chartOptions.legend"
    [fill]="chartOptions.fill"
    [stroke]="chartOptions.stroke"
    [tooltip]="chartOptions.tooltip"
    [xaxis]="chartOptions.xaxis"
  ></apx-chart>
</div>

</section>
