p{
    text-align: center;
}

p.error{
    color: red;
}

section{
    text-align: center;
}


table{
    margin-top: 58px;
}

i{
  font-size: 30px;
}

.mat-card{
  max-width: 400px;
  max-height: 500px;
  margin: 20px;
}
