  <!-- Showing movies data -->
<article fxLayout="row wrap" fxLayoutAlign="space-around center">
  <ng-container *ngFor="let movie of movies | async">
    <mat-card>
      <mat-card-title>
        {{movie.title.international | titlecase}}
      </mat-card-title>
      <mat-card-subtitle>
        {{movie.directors.length}}
        {{movie.storeConfig.status}}
      </mat-card-subtitle>
      <mat-card-content>
        <p>
          {{movie.synopsis}}
        </p>

      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/edit-movie/{{movie.id}}" (click)="onActivate($event)">Edit</a>&nbsp;
        <a mat-raised-button color="primary" routerLink="/movie-detail/{{movie.id}}">See</a>
        <button mat-fab color="accent" (click)="deleteMovie(movie)"><mat-icon>delete</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</article>


