  <!-- Showing movies data -->
<article fxLayout="row wrap" fxLayoutAlign="space-around center">
  <ng-container *ngFor="let movie of movies | async">
    <mat-card>
      <mat-card-title>
        {{movie.title | titlecase}}
      </mat-card-title>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse iaculis lectus malesuada, condimentum enim at, accumsan turpis. Sed quis velit a sapien luctus pretium.
          Mauris facilisis neque velit. Maecenas eget ipsum ultricies, imperdiet ipsum id, euismod erat.
          Phasellus eget odio eget enim porttitor placerat eu non justo. In efficitur mollis dolor eget accumsan. Sed sed viverra odio. Donec iaculis, magna vel maximus dignissim, turpis nisl varius lacus, eu faucibus enim arcu sit amet elit.
        </p>
        <span>coucou</span>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button color="primary" routerLink="/edit-movie/{{movie.id}}">Edit</a>
        <button mat-raised-button color="accent" (click)="deleteMovie(movie)"><!--<i class="far fa-trash-alt"></i>--> Delete</button>
      </mat-card-actions>

      <mat-card-footer>By {{movie.producer.firstName}} {{movie.producer.lastName}}</mat-card-footer>
    </mat-card>
  </ng-container>
</article>


