<p>graphic-users works!</p>
<section>
  <apx-chart
    #chart
    [title]="chartOptions.title"
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [yaxis]="chartOptions.yaxis"
    [dataLabels]="chartOptions.dataLabels"
    [markers]="chartOptions.markers"
    [stroke]="chartOptions.stroke"
    [xaxis]="chartOptions.xaxis"
    [tooltip]="chartOptions.tooltip"
    [annotations]="chartOptions.annotations"
    [theme]="chartOptions.theme"
    [legend]="chartOptions.legend"
  ></apx-chart>
</section>
