.mat-input-element {
  caret-color: #a2691f;
}

.custom-text{
  margin: 15px;
}

form{
  padding: 15px;
}

mat-form-field{
  width: 100%;
}

td {
  padding-right: 8px;
}

.producer-field{
  width: 201px;
  /* color: aqua; */
}

.global-margin{
  margin: 15px;
}

.date-field{
  margin-top: 30px;
}
.mat-input-element {
  caret-color: #a2691f;
}

.custom-text{
  margin: 15px;
}
