<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Add Movie</h1>
  <span class="custom-text">Add a <strong>movie</strong></span>
<!-- Movie form -->
<form class="example-form" [formGroup]="moviesForm" (ngSubmit)="submitMovieData()" novalidate>
  <table cellspacing="0"><tr>
  <td><mat-form-field appearance="fill">
          <mat-label>Title of movie</mat-label>
          <input matInput type="text" formControlName="title" class="form-control" id="titleMovie" placeholder="Ex : Avatar" required>

          <!-- Showing errors using getter method -->
          <mat-error *ngIf="title.touched && title.invalid" class="error"><sup>*</sup>Please enter atleast a title of movie<br/></mat-error>
          <mat-error *ngIf="title.errors?.minlength" class="error"><sup>*</sup>Name shouldn't be less than 2 words</mat-error>
          </mat-form-field></td>
          <td><mat-form-field>
          <mat-label>Language</mat-label>
          <input matInput type="text" formControlName="language" class="form-control" id="languageMovie" required>
          <!-- Showing errors using getter method -->
          <mat-error *ngIf="language.touched && language.invalid" class="error"><sup>*</sup>Please type the language of the movie</mat-error>
          </mat-form-field></td>
        </tr></table>
        <table cellspacing="0"><tr>
          <mat-label>Producer</mat-label>
          <input matInput type="text" formControlName="producer" class="form-control" id="producerMovie" required>
          <!-- Showing errors using getter method -->
          <mat-error *ngIf="producer.touched && producer.invalid" class="error"><sup>*</sup>Please provide the producer</mat-error>
          <mat-label>Release Date</mat-label>
          <input matInput type="date" id="releaseDate">
        </tr></table>
          <mat-label>Description</mat-label>
          <textarea matInput id="description"></textarea>


        <button type="button" class="btn btn-warning mr-2" (click)="resetForm()">Reset</button>
        <button type="submit" class="btn btn-primary" [disabled]="!moviesForm.valid">Add Movie</button>

</form>
<br/>
<app-movie-list></app-movie-list>
